html{
  background-image:url("Background-Istanbul.jpg")
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 5px;
}
body{
  background-color: rgb(215,215,215);
}
.container {
  display: grid;
  max-width: 900px;
  position: relative;
  margin: auto;
  grid-gap: 2px;
  grid-template-areas: "header header"
                       "picture"
                       "body2 body2"
                       "education links"
                       "more-pics more-pics";
  grid-template-columns: 450px 450px;
  grid-template-rows: 120px 310px 300px 200px 300px;
}
.heading {
  background-color: transparent;
  grid-area: header;
  text-align: center;
  z-index: 1;
}
#profile {
  background-color: transparent;
  grid-area: picture;
  text-align: center;
}
.body2 {
  background-color: transparent;
  grid-area: body2;
  text-align: center;
  padding: 100px;
}
.education {
  grid-area: education;
  background-color: transparent;
}
.links {
  grid-area: links;
  background-color: transparent;
}
.more-pics{
  grid-area: more-pics;
  background-color: transparent;
  text-align: center;
 }
