body{
  background-attachment: fixed;
}
.links {
  background-color: transparent;
  position: fixed;
  text-align: left;
  top: 25%;
  z-index: -1;
}
/* navbar CSS code that appears on every page for easy navigation */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
    z-index: 1;
    background-color: brown;
}
.navbar a {
    display: block;
    color: antiquewhite;
    padding: 8px 16px;
    text-decoration: none;
}
.navbar a:hover{
    background-color: rgba(205,205,205,0.3);
    color: white;
}
li a.active {
    background-color: rgba(205,205,205,0.3);
    color: white;
}
li a:hover:not(.active){
    background-color: rgba(205,205,205,0.3);
    color: white;
}

/* heading class used in main page and cipher page */
.heading {
    text-align: center;
    position: fixed;
    top: 2%;
    right: 40%;
    left: 40%;
    background-color: rgba(230,225,200,0.8);
    z-index: 1;
    border-style: groove;
    border-color: brown;
    border-width: thick;
}
.HomeVideo{
    position: absolute;
    top: 25%;
    left: 58%;
    border-style: groove;
    border-color: brown;
    border-width: thick;
    background-color: brown;
}
.HomeVideoAbout{
    position: absolute;
    top: 70%;
    left: 50%;
    right: 10%;
    text-align: center;
    background-color: rgba(230,225,200,0.8);
    border-style: groove;
    border-color: brown;
    border-width: thick;
}
#DinnerPic{
    position: absolute;
    top: 100%;
    left: 60%;
    border-style: groove;
    border-color: brown;
    border-width: thick;
}
.BusinessTurk{
    position: absolute;
    top: 140%;
    left: 50%;
    right: 10%;
    text-align: center;
    background-color: rgba(230,225,200,0.8);
    border-style: groove;
    border-color: brown;
    border-width: thick;
}
#profile {
    position: absolute;
    top: 25%;
    right: 65%;
    border-style: groove;
    border-color: brown;
    border-width: thick;
}
.body2 {
    text-align: center;
    position: absolute;
    background-color: rgba(230,225,200,0.8);
    background-size: auto;
    top: 65%;
    left: 10%;
    border-style: groove;
    border-color: brown;
    border-width: thick;
    right: 55%
}
#paintingPic{
    position: absolute;
    right: 65%;
    top:120%;
    z-index: -1;
    border-style: groove;
    border-color: brown;
    border-width: thick;
}
#canvas2{
    position: absolute;
    right: 65%;
    top: 120%;
    background-color: rgb(230,225,200);
    z-index: 2;
    border-style: groove;
    border-color: brown;
    border-width: thick;
}
.paintInfo{
    position: absolute;
    right: 65%;
    top:155%;
    left: 20%;
    background-color: rgb(230,225,200);
    color: black;
    z-index: 1;
    border-style: groove;
    border-color: brown;
    border-width: thick;
}
#paintButton{
    position: absolute;
    right: 65%;
    top: 115%;
}
/* where the SVG file appears in CSS */
#turkFlag{
    position: absolute;
    top: 5%;
    left: 80%;
    max-width: 100%;
}

/* education CSS starts here */
.education {
    text-align: center;
    position: absolute;
    background-color: rgba(230,225,200,0.8);
    background-size: auto;
    top: 10%;
    left: 35%;
    right: 35%;
    border-style: groove;
    border-color: brown;
    border-width: thick;
}
.education2 {
    text-align: center;
    position: absolute;
    background-color: rgba(230,225,200,0.8);
    background-size: auto;
    top: 30%;
    left: 35%;
    right: 35%;
    border-style: groove;
    border-color: brown;
    border-width: thick;
}
.fieldReport{
    position: absolute;
    top: 70%;
    text-align: center;
    left: 27%;
}
#canvas1{
    position:absolute;
    right: 15%;
    bottom: 40%;
    border-style: groove;
    border-color: brown;
    border-width: thick;
}
/*This file is removed, but keeping CSS tag for later addition */
#makeItRain{
    position: absolute;
    right: 20%;
    top: 20%;
    z-index: 4;
}

/* Audio file found in CSS, also where "more" page begins */
.bodrumSong{
    position: fixed;
    right: 10%;
    bottom: 95%;
    z-index: 2;
    opacity: 0.7;
}
#morePictures{
    text-align: center;
    position: absolute;
    color: antiquewhite;
    border-style: groove;
    border-color: brown;
    border-width: thick;
    background-color: brown;
    top: 2%;
    right: 48%;
    left: 40%;
}
.pic1{
    position: absolute;
    left: 20%;
    top: 10%;
    border-style: groove;
    border-color: brown;
    border-width: thick;
    background-color: brown;
    
}
.pix1{
    position: absolute;
    color: antiquewhite;
    top: 40%;
    left: 20%;
    right: 61%;
    border-style: groove;
    border-color: brown;
    border-width: thick;
    background-color: brown;
}
.pic2{
    position: absolute;
    right: 30%;
    top: 10%;
    border-style: groove;
    border-color: brown;
    border-width: thick;
    background-color: brown;
}
.pix2{
    position: absolute;
    color: antiquewhite;
    top: 40%;
    left: 51%;
    right: 30%;
    border-style: groove;
    border-color: brown;
    border-width: thick;
    background-color: brown;
}
.pic3{
    position: absolute;
    left: 20%;
    top: 55%;
    border-style: groove;
    border-color: brown;
    border-width: thick;
    background-color: brown;
}
.pix3{
    position: absolute;
    color: antiquewhite;
    top: 85%;
    left: 20%;
    right: 61%;
    border-style: groove;
    border-color: brown;
    border-width: thick;
    background-color: brown;
}
.pic4{
    position: absolute;
    right: 30%;
    top: 55%;
    border-style: groove;
    border-color: brown;
    border-width: thick;
    background-color: brown;
}
.pix4{
    position: absolute;
    color: antiquewhite;
    top: 85%;
    left: 51%;
    right: 30%;
    border-style: groove;
    border-color: brown;
    border-width: thick;
    background-color: brown;
}
.moreVideos{
    text-align: center;
    position: absolute;
    color: antiquewhite;
    border-style: groove;
    border-color: brown;
    border-width: thick;
    background-color: brown;
    top: 100%;
    right: 50%;
    left: 38%;
}
.bodrumSnap1{
    position: absolute;
    left: 20%;
    top: 120%;
    border-style: groove;
    border-color: brown;
    border-width: thick;
    background-color: brown;
}
.bodrumSnap2{
    position: absolute;
    right: 30%;
    top: 120%;
    border-style: groove;
    border-color: brown;
    border-width: thick;
    background-color: brown;
}
.bodrumSnap3{
    position: absolute;
    left: 20%;
    top: 165%;
    border-style: groove;
    border-color: brown;
    border-width: thick;
    background-color: brown;
}
.bodrumSnap4{
    position: absolute;
    right: 30%;
    top: 165%;
    border-style: groove;
    border-color: brown;
    border-width: thick;
    background-color: brown;
}
.bodrumSnap5{
    position: absolute;
    left: 20%;
    top: 210%;
    border-style: groove;
    border-color: brown;
    border-width: thick;
    background-color: brown;
}
.bodrumSnap6{
    position: absolute;
    right: 30%;
    top: 210%;
    border-style: groove;
    border-color: brown;
    border-width: thick;
    background-color: brown;
}
.bodrumSnap7{
    position: absolute;
    left: 20%;
    top: 255%;
    border-style: groove;
    border-color: brown;
    border-width: thick;
    background-color: brown;
}
.bodrumSnap8{
    position: absolute;
    right: 30%;
    top: 255%;
    border-style: groove;
    border-color: brown;
    border-width: thick;
    background-color: brown;
}
#caesarBackground{
    background-color: blanchedalmond;
    z-index: -1;
}
#aboutCipher{
    position: absolute;
    border-style: groove;
    border-color: brown;
    border-width: thick;
    background-color: brown;
    color: antiquewhite;
    top: 15%;
    left: 40%;
    right: 40%;
}

/*cipher page begins here, just used for positioning two elements*/
.cipher{
    position: absolute;
    top: 35%;
    left: 30%;
}
.decipher{
    position: absolute;
    top: 35%;
    left: 60%;
}